.cartItem {
  display: grid;
  gap: 2rem;
  grid-template-columns: minmax(100px, 15%) 3fr 1fr;
}

.cartItem img {
  width: 100%;
  margin: auto;
}

.cartItem label {
  font-size: larger;
  margin-right: 1rem;
}
